<html
    data-namespace-typo3-fluid="true"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers/"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module"/>

<f:section name="Content">
    <h1>Content Blocks GUI</h1>
    <div class="list-table-container">
        <div class="table-fit">
            <table class="table table-striped table-hover" id="content-blocks">
                <thead>
                    <tr>
                        <th></th>
                        <th>Content Block name</th>
                        <th>Label</th>
                        <th>Extension</th>
                        <th>References</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                <f:for each="{contentBlocks}" as="block">
                    <tr>
                        <td class="col-icon">
                            <span title="id=fsd">
                                <span
                                    aria-hidden="true"
                                    class="t3js-icon icon icon-size-small icon-state-default icon-content-form"
                                    data-identifier="content-form">
                                    <span class="icon-markup">
                                        <core:icon identifier="content-heart" />
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="col">
                            <a href="{block.editUrl}"
                               title="Edit content block: {block.name}">{block.name}</a>
                        </td>
                        <td class="col">
                            <a href="{block.editUrl}"
                               title="Edit content block: {block.name}">{block.label}</a>
                        </td>
                        <td><code>{block.extension}</code></td>
                        <td>
                            <span class="badge badge-default">
                                {block.usages} References
                            </span>
                        </td>
                        <td class="col-control">
                            <div class="btn-group" role="group">
                                <f:if condition="{block.editable}">
                                    <f:then>
                                        <a class="btn btn-default content-block-edit" href="{block.editUrl}"
                                           title="Edit this content block">
                                            <span
                                                aria-hidden="true"
                                                class="t3js-icon icon icon-size-small"
                                                data-identifier="content-block-edit">
                                                <core:icon identifier="actions-open"/>
                                            </span>
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <f:render partial="Icons/EmptyIconPlaceholder" />
                                    </f:else>
                                </f:if>

                                <a class="btn btn-default content-block-duplicate" href="#"
                                   title="Duplicate this content block">
                                    <span
                                        aria-hidden="true"
                                        class="t3js-icon icon icon-size-small"
                                        data-identifier="content-block-duplicate">
                                        <core:icon identifier="actions-duplicate"/>
                                    </span>
                                </a>

                                <a class="btn btn-default content-block-download"
                                   href="#"
                                   title="Download this content block"
                                   data-name="{block.name}"
                                >
                                    <span
                                        aria-hidden="true"
                                        class="t3js-icon icon icon-size-small"
                                        data-identifier="content-block-download">
                                        <core:icon identifier="actions-download"/>
                                    </span>
                                </a>

                                <f:if condition="{block.editable}">
                                    <f:then>
                                        <a class="btn btn-default content-block-delete" href="{block.deleteUrl}"
                                           title="Delete this content block">
                                            <span
                                                aria-hidden="true"
                                                class="t3js-icon icon icon-size-small"
                                                data-identifier="content-block-delete">
                                                <core:icon identifier="actions-delete"/>
                                            </span>
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <f:render partial="Icons/EmptyIconPlaceholder" />
                                    </f:else>
                                </f:if>
                            </div>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </div>
</f:section>

</html>


